pytorch-lightning
torch-scatter
fairscale
mendeleev
DLLogger @ git+https://github.com/NVIDIA/dllogger.git@0540a43971f4a8a16693a9de9de73c1072020769
openfold @ git+https://github.com/aqlaboratory/openfold.git@103d0370ad9ce07579c20fa9c889a632f9b16618
power-spherical @ git+https://git@github.com/zrqiao/power_spherical.git@290b1630c5f84e3bb0d61711046edcf6e47200d4
fair-esm @ git+https://github.com/facebookresearch/esm@57da016e5d740a9ac5bcf62c3689a42e88584bc
seaborn
prody
pdb-tools
pre-commit
ruff
# pytorch3d @ git+https://github.com/facebookresearch/pytorch3d.git@stable should be installed last with (if Mac): MACOSX_DEPLOYMENT_TARGET=14.3 CC=clang CXX=clang++ pip install "git+https://github.com/facebookresearch/pytorch3d.git"
